:root {
    --background-main-color:#f3f3f3;
    --font-color:#0d3351;
    --button-color:#33c7fd;
    --font-family-title:'Roboto Slab Light', arial;
    --font-main:'Raleway Regular', arial;
}
.main {
    background-color: var(--background-main-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    min-height: 1320px;
    position: relative;
}
.main::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 225px;
    top:-170px;
    background: url('./img/figure.png') no-repeat;
    background-size: auto;
}
.main__title {
    white-space: nowrap;
    font-size: 20px;
    font-family: var(--font-family-title);
    color:var(--font-color);
    padding-top: 50px;
    font-weight: bold;
}
.main__subtitle {
    font-size: 14px;
    font-family: var(--font-family-title);
    color:var(--font-color);
    padding-top: 10px;
}
.main__filter {
    font-style: italic;
}
.cards-list__show-more {
    width: 196px;
    padding: 12px 0px;
    margin: 20px auto;
    background-color: var(--button-color);
    color: #ffffff;
    border-radius: 1px;
    text-decoration: none;
    border:none;
}
.cards-container {
    min-width: 290px;
    width: 90%;
    max-width: 720px;
    
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.main__filter {
    margin-left: 10px;
    width: 55px;
    width: max-content;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    appearance: none;
}

select,option {
    background-color: none;
    border: none;
    outline: none;
}
option:active {
    background-color: none;
    border: none;
    outline: none;
}
.card-popular,
.card-popular:hover {
    border: none;
    outline: none;
}
@media (min-width:766px) {
    .cards-container {
        min-height: 1039px;
    }
} 
@media (max-width:765px) {
    .cards-container {
        min-height: 1915px;
        justify-content: center;
    }
}
@media (min-width:1300px) and (max-width:1599px) {
    .main__title {
        font-size: 26px;
        padding-top: 60px;
    }
    .cards-container {
        width: 55%;
        min-height: 1039px;
    }
}
@media (min-width:1600px) {
    .main__title {
        font-size: 36px;
        padding-top: 115px;
    }
    .cards-container {
        width: 68%;
        min-height: 1060px;
        margin-top: 40px;
    }
}
article:nth-child(1)+.flag {
    position: absolute;
    color:#ffffff;
    content:'хит продаж';
    text-align:center;
    width: 20; 
    height: 20; 
    border-width: 50px 30px 20px;
    border-style: solid;
    border-color: #33c7fd#33c7fd transparent
}
.flag {
    position: absolute;
    color:#ffffff;
    content:'хит продаж';
    text-align:center;
    width: 20; 
    height: 20; 
    border-width: 50px 30px 20px;
    border-style: solid;
    border-color: #33c7fd#33c7fd transparent;
}