:root {
    --font-color:#0d3351;
    --button-color:#33c7fd;
    --font-family-title:'Roboto Slab Light', arial;
    --font-main:'Raleway Regular', arial;
}
h2,h3,a {
    margin: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.log-in__menu,
.currency__menu,
.lang__menu {
    display: none;
}

.header {
    user-select: none;
    width:100%;
    height: 580px;
    background: url('./img/header-bg.png') no-repeat;
    background-size: 1673px auto;
    background-position: center bottom;
    overflow-x: hidden;
    display: flex;
    flex-direction:column;
    align-items: center;
    font-size: 14px;
    color: var(--font-color);
    font-family: var(--font-main);
}
.header-top {
    margin-top: 40px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-middle {
    width: 75%;
    height: 386px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-middle h3 {
    font-size: 20px;
    font-family: var(--font-family-title);
    font-weight: lighter;
}
.header-middle h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: var(--font-family-title);
    font-weight: lighter;
}
.burger-menu__button {
    position: relative;
    top:10px;
    width: 20px;
    height: 0px;
    margin-top:2px;
    background-color:#0d3351;
    border-top: 1px #0d3351 dotted;
    border-bottom: 1px #0d3351 dotted;
}
.burger-menu__button::before,
.burger-menu__button::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    left:0px;
    background-color:var(--font-color);
}
.burger-menu__button::before {
    top:-5px;
}
.burger-menu__button::after {
    bottom: -5px;
}

.burger-menu {
    display: none;
}
.menu {
    width: 66%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu-item {
    position: relative;
    cursor: pointer;
}
.menu-item b {
    font-size:10px;
}
.currency,
.log-in {
    position: relative;
}
.log-in::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 16px;
    background: url('./img/users-icon.png') no-repeat;
    background-size: contain;
    bottom: 0px;
    left: -17px;
}
.currency::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 16px;
    background: url('./img/rubl-icon.png') no-repeat;
    background-size: contain;
    bottom: -2px;
    left: -15px;
}

.menu-item:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 3px;
    right: -15px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 7px solid var(--font-color);
}
.header__logo {
    display: block;
    margin:0px auto;
    width: 80px;
    height:80px;
}
.header-middle__button {
    width: 196px;
    padding: 12px 0px;
    margin-top: 40px;
    background-color: var(--button-color);
    color: #ffffff;
    border-radius: 1px;
}
@media (max-width:1300px) {
    .menu {
        display: none;
    }
}
@media (min-width:1300px) {
    .header {
        height: 600px;
    }
    .header-top,
    .header-middle {
        width: 720px;
        max-width: 55%;
    }
    .header-middle h3 {
        font-size: 26px;
    }
    .header-middle h2 {
        font-size: 72px;
        white-space: nowrap;
    }
    .header-middle__button {
        margin-top: 15px;
    }
}
@media (min-width:1600px) {
    .header {
        height: 640px;
        background-size: auto 100%;
    }
    .header-top {
        max-width: 1140px;
    }
    .header-middle {
        max-width: 1007px;
    }
    .header-middle h3 {
        font-size: 36px;
    }
    .header-middle h2 {
        font-size: 100px;
    }
}

.open {
    display: block;
    background-color: var(--font-color);
    color: #ffffff;
    padding:5px 7px;
    width:40px;
}
ul[class*="__menu"] {
    position: absolute;
    top: 15px;
    left:0px;
    background-color: var(--font-color);
    color: #ffffff;
    padding:5px 7px;
    width:max-content;
    text-align: left;
}
/*div[class*="logoutPanel"] {
 // CSS правила
}
*/